@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h4>Your Next Adventure Awaits!</h4>
    <a asp-controller="Tickets" asp-action="Index" class="btn btn-link text-dark">Book a flight!</a>
</div>
